

$colors:(
    "ice":  #99D3DF,
    "water":  #88BBD6,
    "plaster":  #CDCDCD,
    "linen":  #E9E9E9,   
);


$theme-colors:(
    "ice":  #99D3DF,
    "water":  #88BBD6,
    "plaster":  #CDCDCD,
    "linen":  #E9E9E9,   
);

$enable-shadows:true;

