.banner{
    font-family: "Courier New", Courier, monospace;

    &-dark{ font-family: "calibri light","Impact","Arial" }

    &-custom{
        font-family: 'Times New Roman', Times, serif, sans-serif;
        letter-spacing: .1em;
    }
}

.decor{ width: 2em;}

.para{ font-family: 'Times New Roman', Times, serif; }