.hero{
    background-image: linear-gradient(0 ,rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('img/cover.png');
    background-size: cover;
    background-position:top;
    height: 90vh;

    p{
        font-size: 2em;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    h2{
        font-size: 4em;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    }
}

@media (max-width: 945px){
    .hero{
        h2{font-size: 2.5em}

        p{font-size: 1.5em}

        a{
            font-size: 1em;
            width: 100%;
        }

        div,a{
            margin: 0 auto;
            text-align: center;
        }
    }
}

@media (max-width: 576px){
    .hero{
        h2{font-size: 2.2em}

        p{ font-size: 1.2em}

        a{ font-size: 0.75em }
    }
}